@tailwind base;

/* Start purging... */
@tailwind components;
@tailwind utilities;
/* Stop purging. */

@layer base {
  @font-face {
    font-family: "Libre Caslon Text";
    src: url(/fonts/libre-caslon-text-latin-700-normal.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: optional;
  }

  @font-face {
    font-family: "Wotfard";
    src: url(/fonts/wotfard-semibold-webfont.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: optional;
  }

  @font-face {
    font-family: "Wotfard";
    src: url(/fonts/wotfard-regular-webfont.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: optional;
  }
}
